button
{ 
background-color:green;
color:white;
border-radius:10px;
border:0px;
padding-left:30px;
padding-right:30px;
text-size:5px;
}

#hotel
{
 background-color:yellow;
color:black;
}

.bold
{
font-weight:bold;
font-size:40px;
}

.para
{ 
font-size:30px;
}

.star
{
background-color:blue;
}

tr
{
margin:30px;
}
